/*newsbox style1*/
.style3.sb1.dt_newsslider{ 
	width:100%; 
	position:relative; 
	min-height: 635px;
}

.style3.sb1.dt_newsslider .dt_newsslider_list{
	float: right;
	padding:0; 
	margin:0; 
	width:50%;
	z-index:2;
	position:relative;
	display: none;
}

.style3.sb1.dt_newsslider .dt_newsslider_list .dt_newsslider_list_item{ 
	margin:0;
	padding:0;
	height:60px;
	overflow: hidden;
	display: block;
}
.style3.sb1.dt_newsslider .dt_newsslider_list .dt_newsslider_list_itembg{ 
	display:block; 
	height:60px; 
	line-height:20px;
	text-decoration: none;
	background:url('../../images/style3/b10.png') top right repeat-x; 
	color: #444;
	cursor: pointer;
}


.style3.sb1.dt_newsslider .dt_newsslider_list .dt_newsslider_list_itembg:hover{
	background:#e5e5e5; 
	color: #444;
}

.style3.sb1.dt_newsslider .dt_newsslider_list .dt_newsslider_list_item.active{
	background: #e53b00;
	cursor: pointer;
}

.style3.sb1.dt_newsslider .dt_newsslider_list .dt_newsslider_list_item.active div{
	background: transparent !important;
	color: #fff;
}

.style3.sb1.dt_newsslider .dt_newsslider_list span.dt_newsslider_list_img{
	float: left;
	overflow: hidden;
	width: 50px;
	height:50px;
	display: block;
	margin:4px;
	background: #fff;
}
.style3.sb1.dt_newsslider .dt_newsslider_list img{
	height: 50px;
}

.style3.sb1.dt_newsslider .dt_newsslider_list span.dt_newsslider_list_title{ 
	font-size:14px; 
	line-height:20px; 
}

.style3.sb1.dt_newsslider .dt_newsslider_slide{ 
	height: 100%;
	position: absolute;
	bottom: 0;
	top: -89px!important;
	width: 100%!important;
	overflow: hidden;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_img{
	display: block;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_img img{
	border:0;
	margin:0;
	padding:0;
	height: 100%!important;
	width: 100%;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_info{ 
	position:absolute;
	right: 125px;
	top: 180px;
	width: 545px;
	padding: 0px 25px;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_title{ 
	display: block;
	background: rgba(0,0,0,0.8);
	color: #e9d365;
	text-transform: uppercase;
	padding: 10px 100px;
	text-align: center;
	line-height: 29px;
	font-size: 17px;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_desc{
	text-align: justify;
	line-height: 27px;
	color: #fff;
}
.style3.sb1.dt_newsslider .dt_newsslider_slide_content {
	background: rgba(0,0,0,0.5);
	font-size: 18px;
	padding: 10px 25px 50px;
}
.style3.sb1.dt_newsslider .dt_newsslider_slide_more{
	float: right;
	color: #e9d365;
}

.style3.sb1.dt_newsslider .dt_newsslider_slide_more:hover{
	color: #e53b00;
}

.style3.sb1.dt_newsslider .clear{clear: both;}